
body.mini #header {
    width:30%; 
    text-align:center;
}

body.mini #container {
    width:30%;
} 

.grid-container h3{
    font-family: BrushScript;
    font-size: 3em;
    text-align: center;
}

.page_container {
    width: 100%;
    padding:50px;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: table;
}

.table_container {
    width: 50%;
    display: table-cell;
}

.table_container label {
    font-weight: bold;
}

/* form */
form input.text {
    width:95%; 
    font-size:16px;
}

form textarea {
    width:95%; 
    height:100%;
}

/* table */
table {
    width:90%; 
    text-align:right; 
    border:rgb(128,128,128); 
    font-size:12px; 
    /*margin:5px 10px; */
    color:#000;background:#fff;
}

table th {
    background-color: rgb(229, 229, 229); 
    border:1px solid rgb(187, 187, 187); 
    /*padding:3px 6px; */
    font-weight:bold; 
    color:#000;
    text-align: center;
}

table tr td {
    border: 1px solid rgb(221, 221, 221); 
    padding:3px 6px;
    text-align: center;
}

table tr:hover {
    background-color: rgb(240, 240, 240);
    color:#000;
} 

/* a */
a.large {
    padding: 5px; 
    color:#000; 
    background:#eee; 
    text-decoration:none; 
    margin:5px;
}

a.large.right {
    float:right;
}

a.large:hover, a.large.current {
    background:#444; 
    color:#fff;
}

/* messages */
#message {
    margin: 5px 10px; 
    padding: 4px; display:block;
    text-align:center;
} 

#message.error {
    background:#FFEBE8;
    border: 1px solid #CC0000;
    color:#CC0000;
}

#message.success {
    border:solid 1px #349534; 
    background:#C9FFCA;
    color:#008000;
}