/* Contact Info Section */
.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eee;
  padding: 20px;
}

@media screen and (min-width: 64em) {
  .contact-info .contact-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact-info .contact-row div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-info #twitter {
    /* Hacky solution to get the twitter button lined up */
    margin-bottom: 16px;
  }
}

/* Building | Reservation Information */
.reservation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.reservation-info img {
  border: 3px solid #fff;
}

.reservation-info h2 {
  font-family: brushscript;
  background-color: lightgray;
}

@media screen and (min-width: 64em) {
  .reservation-info {
    flex-direction: row-reverse;
  }

  .reservation-info h2 {
    text-align: center;
  }

  .reservation-info div {
    max-width: 500px;
    padding-right: 25px;
  }
}

/* Footer */
.footer {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #eee;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Directions */
#start {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 45px;
}

#directions {
  display: block;
  margin: auto;
  margin-top: 50px;
  height: 150px;
}

input[type='submit'] {
  width: 20%;
  background-color: #328fe6;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 8px;
  transition: background-color 0.3s ease-in;
}

input[type='submit']:hover {
  background-color: #335eff;
}
