#report-name-placeholder
{
    font-weight: bold;
    text-align: center;
}

#term-placeholder
{
    font-style: italic;
    text-align: center;
    font-size: 17px;
}

.panel-body 
{
    background: white;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

div.dataTables_wrapper #detailed_report_table
{
    width: 2000px;
    margin: 0 auto;
}


div.dataTables_wrapper #quick_report_table
{
    width: 1500px;
    margin: 0 auto;
}

div.dataTables_wrapper #financial_report_table
{
    width: 1500px;
    margin: 0 auto;
}

div.dataTables_wrapper #curriculum_report_table
{
    width: 1290px;
    margin: 0 auto;
}

div.dataTables_wrapper #school_and_system_report_table
{
    width: 1400px;
    margin: 0 auto;
}

div.dataTables_wrapper #initiative_report_table
{
    width: 2500px;
    margin: 0 auto;
}

.caret.caret-up 
{
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

/*#curriculum_report_table
{
    width: 1300vw;
}

#school_and_system_report_table
{
    width: 710px;
}

#quick_report_table
{
    width: 960px;
}

#detailed_report_table
{
    width: 1500px;
}

#financial_report_table
{
    width: 1540px;
}*/

table.dataTable thead tfoot tr th
{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  text-align: center;
}

td,
th
{
    text-align: center;
}

/*.program_id
{
    width: 70px;
}

.program_title
{
    width: 200px;
}

.start_date
{
    width: 70px;   
}

.end_date
{
    width: 70px;
}

.start_time
{
    width: 70px;
}

.end_time
{
    width: 70px;
}

.num_sessions
{
    width: 70px;
}

.location
{
    width: 200px; 
}

.initiative
{
    width: 70px;
}

.target_audience
{
    width: 150px;
}

.current_enrollment
{
    width: 70px;
}

.max_enrollment
{
    width: 70px;
}

.curriculum
{
    width: 100px;
}*/

.curriculum_report_item
{
    width: 150px;
}

/*.consultatnt_name
{
    width: 150px;
}

.system_name
{
    width: 100px;
}

.offerings_per_system
{
    width: 70px;
}

.total_spent_per_system
{
    width: 70px;
}

.consultant_fee
{
    width: 70px
}

.misc_fees
{
    width: 70px;
}

.sti_pd
{
    width: 70px;
}

.school
{
    width: 100px;
}

.status
{
    width: 50px;
}*/