

html {
    overflow-y: scroll;
    background-color: lightgray;
}

#login-page {
   background-color: lightgray;
 
    font-family: 'Titillium Web', sans-serif;
}

#aloginindex {
    text-decoration: none;
    color: #fff;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#aloginindex:hover {
    color: #fff;
}

.form {
    background:#0057b8;
    padding: 2%;
    max-width: 30%;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li #aloginindex {
    display: block;
    text-decoration: none;
    padding: 1%;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #0057b8;
    color: #ffffff;
}

.tab-group .active #aloginindex {
    background:#ffffff;
    color: #0057b8;
}

.tab-content>div:last-child {
    display: none;
}

#h1loginindex {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 10px;
}
h1
{
    text-align: center;
    color: #fff;
    font-weight: 1000;
    margin: 0; 
}


h2 {
    text-align: center;
    color: #fff;
    font-weight: 1000;
    margin: 0;
}

span {
    color: #1ab188;
    font-weight: bold;
}

#p-login-page {
    text-align: center;
    color: #ffffff;
    margin: 30px 0px 30px 0px;
}

#p-profile-page {
    text-align: center;
    color: #ffffff;
    margin: 30px 0px 30px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

.label-login {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: black;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.label-login .req {
    margin: 2px;
    color: #fff;
}

.label-login.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

.label-login.active .req {
    opacity: 0;
}

.label-login.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #fff;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 35px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.button-block {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #fff;
    color: #0057b8;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button-block:hover,
.button-block:focus {
    background: #0000ef;
    color: white;
}

.button-block {
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
